body {
	overflow-y:auto;  
overflow-x:hidden;
max-width: 100% !important;
min-width: 100% !important;
}

.container-buttons {
	margin: 0px 10px 10px 10px;
	padding: 0px 10px 10px 170px;	
}

.home-button {
    display: block;
    width: 50%;
    margin-left: 25%;
}

.container {
padding: 10px 300px 10px 300px;	
}

.container-1 {
margin: 0px 100px 10px 100px;
padding: 0px 300px 10px 300px;	
}

.container-2 {
margin: 0px 100px 10px 100px;
padding: 0px 300px 10px 300px;	
}
#user_name #password_hash{
	padding: 10px 10px 10px 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 10px 0px 10px 10px;
}

.h2, h2 {
    font-size: 20px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
	color: #02203D;
}

#mainContent {
	padding: 10px 10px 10px 10px;
}

#Home #Spelling{
 position: fixed;
    width: 100%;
    left: 0px;
}

.jumbotron {
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	height: 100%;
	background-color: #049EEC;
	border-radius: 25px;
}

.jumbotron .h1, .jumbotron h1 {
	color: white;
	font-weight: bold;
}

.block {
	background-color: #FEFEFF;
	margin-top: 20px;
	padding: 35px 35px 35px 30px;
	border-radius: 25px;
}
  .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
  }

.btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #c0e49d;
    border-color: #c0e49d;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.btn-primary {
    color: white;
    background-color: #049EEC;
    border-color: #049EEC;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: gray;
    border-color: gray; 
}
.row {
	margin: 20px 20px 20px 20px;
}